@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 1rem;
}

nav {
    display: none;
    background-color: #111;
    text-align: center;
}

nav.active {
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: clamp(0.5rem, 2vw, 2rem);
}

nav a {
    text-decoration: none;
    color: #ccc;
    font-size: 1.2rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    text-align: center;
}

.logo {
    font-weight: bold;
    color: #fff;
    font-size: 1.3em;
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
}

nav a,
.logo a {
    color: #ccc;
    margin-left: 1.5em;
    text-decoration: none;
    padding-right: 30px;
}

.navToggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
}

header {
    background: #111;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

header nav a:hover {
    color: #c14d43;
}

nav a.active,
nav a:hover {
    color: #f90;
}

.abby-box h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.abby-box p {
    font-size: 1.2em;
}

.abby-section {
    position: relative;
    min-height: 100vh;
    padding-top: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    box-sizing: border-box;
}

.abby-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('image/background.jpg') no-repeat center center/cover;
    /*Image by Becca Clark from Pixabay*/
}

.abby-box {
    position: relative;
    z-index: 2;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 2em 3em;
    text-align: center;
    border-radius: 10px;
}


/* AboutPage */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.intro {
    display: flex;
    flex-direction: column;
    background: #234e35;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    text-align: center;
}

.wrapUp {
    position: sticky;
    top: 100px;
    background: #234e35;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    height: fit-content;
    margin: 9em 0;
}

.intro img {
    width: 160px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.intro h1 {
    font-size: 1.8rem;
}

.intro h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.details {
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section h3,
.approach-block h3,
.projects h3,
.contact-info h2,
.contact-form h2 {
    font-size: 1rem;
    color: #234e35;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.section p,
.section li {
    font-size: 0.95rem;
    color: #333;
}

.section strong {
    color: #111;
}

.footer {
    text-align: center;
    font-size: 0.85rem;
    margin: 2em;
    color: #234e35;
    border-top: 2px solid;
}


/* ExperiencePage */

.experience-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.experience-section h4 {
    font-weight: bold;
    color: #999999;
    text-align: center;
    margin: 3em 0 0 0;
}

.experience-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.approach-block ul {
    margin-bottom: 30px;
}

.approach-block p {
    font-size: 1rem;
    font-style: italic;
    color: #333;
}

.experience-image img {
    width: 100%;
    height: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.experience-image {
    flex: 0 0 40%;
    height: 100vh;
    padding-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Downloadbutton {
    background-color: #234e35;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Downloadbutton a {
    color: #ccc;
    text-decoration: none;
    padding: 10px;
    max-width: fit-content;
}

.Downloadbutton a:hover {
    color: #fff;
    transition: 0.3s;
}


/* Project Page*/

#projects {
    padding: 3em 6em;
    max-width: 1000px;
    margin: auto;
}

.projectGrid {
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: #fff;
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projectText {
    flex: 0 0 60%;
}

.projectText p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 0.5em;
}

.projectImage {
    flex: 0 0 30%;
    text-align: center;
}

.projectImage img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.skills-block,
p .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.5em;
}

.skills span {
    background-color: #277137;
    color: white;
    padding: 0.3em 0.8em;
    border-radius: 999px;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    transition: background-color 0.2s;
}

.skills span:hover {
    background-color: black;
    cursor: pointer;
}


/* Contact Page */

#contact {
    padding: 4em 9em;
    background-image: url('image/contac\(grantrobertdavies\).jpg');
    /* alt: Grant Davieas */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.contact-container {
    max-width: 1000px;
    margin: 0 auto;
}

.contact-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    background: #ffffff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 6px 20px #4a4a42;
}

.contact-left h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #234e35;
}

.contact-left p {
    line-height: 1.6;
    color: #444;
}

.contact-info a {
    color: #234e35;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-right {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.field label {
    font-size: 0.9rem;
    margin-bottom: 0.3em;
    color: #555;
}

.field input,
.field textarea {
    padding: 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    resize: vertical;
}

.submit-btn {
    margin-top: 1.5em;
    padding: 0.8em;
    background: #234e35;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background: #1f4430;
}

.media {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
}

.media a:hover {
    color: #1f4430;
}

a i {
    font-size: 1.5em;
    color: #555;
    margin-right: 0.8em;
    transition: color 0.3s ease;
}

a:hover i {
    color: #0077b5;
}

#thanks {
    display: none;
    margin-top: 1rem;
    color: green;
    font-weight: bold;
}


/*Responsive*/

@media (min-width: 768px) {
    header {
        position: sticky;
        top: 0;
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        align-items: center;
        grid-template-areas: "logo . nav";
    }
    header .logo {
        grid-area: logo;
        margin-bottom: 0;
    }
    header nav {
        grid-area: nav;
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    header nav a {
        margin-right: 2rem;
        margin-bottom: 0;
    }
    header nav a:last-child {
        margin-right: 0;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
    }
    /*Experiences*/
    .experience-text h4 {
        color: #999999;
        text-align: center;
    }
    .experience-container {
        flex-direction: row;
    }
    .experience-text {
        flex: 0 0 55%;
        padding: 1.5em;
    }
    .experience-image {
        flex: 0 0 40%;
    }
    .container {
        flex-direction: row;
    }
    .intro,
    .details {
        flex: 1;
    }
}

@media (max-width: 768px) {
    header {
        position: sticky;
        top: 0;
        background: #111;
        color: white;
        z-index: 9999;
    }
    .abby-bg {
        background-position: right center;
    }
    .navToggle {
        display: block;
    }
    .navLinks {
        display: none;
        width: 100%;
    }
    .navLinks ul {
        flex-direction: column;
        padding: 1rem;
        background: #222;
    }
    .navLinks.active {
        display: block;
    }
    nav ul {
        gap: 0.5rem;
    }
    nav ul {
        padding: 0.5em;
    }
    /* project Pgage*/
    #projects {
        padding: 3em 2em;
    }
    .projectGrid {
        flex-direction: column;
        padding: 1.5em;
    }
    #projects h3 {
        font-size: 1.3em;
    }
    .projectText h4 {
        font-size: 1.1em;
    }
    .projectText,
    .projectImage {
        width: 100%;
    }
    .projectImage {
        margin-top: 1em;
    }
    /*Contact Page*/
    .contact-container {
        grid-template-columns: 1fr;
    }
    .contact-info {
        margin-top: 2em;
    }
    .contact-card {
        grid-template-columns: 1fr;
    }
    #contact {
        padding: 4em 3em;
    }
}